{% extends 'base/detached-layout/datables.html' %}

{% load static %}

{% block nav_content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Mitra</a></li>
                    <li class="breadcrumb-item active">Alokasi Penugasan</li>
                </ol>
            </div>
            <h4 class="page-title">{{title}}</h4>
        </div>
    </div>  
</div>     

{% endblock nav_content %}


{% block table-content %}

<div class="row">
    <div class="col-12">
        <div class="alert alert-danger d-none" id="msgs-upload" role="alert">   
           
            <div id="messages-content">
             
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Alokasi Penugasan</h4>
                <p class="text-muted font-14">
                    Alokasi Penugasan berisi informasi beban tugas mitra untuk setiap kegiatan yang pernah diikuti di BPS Kabupaten Muna. 
                </p>
  
                <ul class="nav nav-tabs nav-bordered mb-3">
                      <li class="nav-item">
                          <a href="#alokasi-preview" data-bs-toggle="tab" class="nav-link active">
                              Preview
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="#input-tab" data-bs-toggle="tab" class="nav-link">
                              Input
                          </a>
                      </li>

                      <li class="nav-item d-none" id="nav-item-import">
                        <a href="#import-tab" data-bs-toggle="tab" class="nav-link">
                            Import
                        </a>
                      </li>

                </ul> <!-- end nav-->
                <div class="tab-content">
                      <div class="tab-pane show active" id="alokasi-preview">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <a href="#offcanvasFilter"  data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasFilter" class="btn btn-danger mb-2"><i class="mdi mdi-filter-menu me-2"></i> Filter Data</a>
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-sm-end">
                                        <button type="button" class="btn btn-success mb-2 me-1" id="redraw-table"><i class="mdi mdi-refresh"></i></button>
                                        <button type="button" class="btn btn-light mb-2 me-1" data-bs-toggle="modal" data-bs-target="#import-modal">Import</button>
                                        <a href="{% url 'master_petugas:export-alokasi' %}" class="btn btn-light mb-2">Export</a>
                                    </div>
                                </div><!-- end col-->
                            </div>
                            <div class="table-responsive">
                                <table id="basic-datatable1" class="table table-centered table-striped w-100 dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>Kegiatan Survei</th>
                                            <th>Nama Pengawas</th>
                                            <th>Jabatan</th>
                                            <th>Nama Petugas Pendata</th>
                                            <th>Jabatan</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                        <tr>
                                            <td>SUSENAS Maret 2024</td>
                                            <td>[340062023] Rifki Gustiawan, S.Tr.Stat.</td>
                                            <td>PML</td>
                                            <td>[340061067] La Ode Syukrim</td>
                                            <td>PPL</td>
                                            <td style=""><a href="javascript:void(0);" onclick="editAlokPetugas(55)" class="action-icon"><i class="mdi mdi-square-edit-outline"></i></a> <a href="javascript:void(0);" onclick="deleteAlokasi(55);" class="action-icon"> <i class="mdi mdi-delete"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>SUSENAS Maret 2024</td>
                                            <td>[340062023] Rifki Gustiawan, S.Tr.Stat.</td>
                                            <td>PML</td>
                                            <td>[340054309] Siti Monica</td>
                                            <td>PPL</td>
                                            <td style=""><a href="javascript:void(0);" onclick="editAlokPetugas(55)" class="action-icon"><i class="mdi mdi-square-edit-outline"></i></a> <a href="javascript:void(0);" onclick="deleteAlokasi(55);" class="action-icon"> <i class="mdi mdi-delete"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>SUSENAS Maret 2024</td>
                                            <td>[340062023] Rifki Gustiawan, S.Tr.Stat.</td>
                                            <td>PML</td>
                                            <td>[340098701] Darman</td>
                                            <td>PPL</td>
                                            <td style=""><a href="javascript:void(0);" onclick="editAlokPetugas(55)" class="action-icon"><i class="mdi mdi-square-edit-outline"></i></a> <a href="javascript:void(0);" onclick="deleteAlokasi(55);" class="action-icon"> <i class="mdi mdi-delete"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>                                            
                            </div>
                      </div> <!-- end preview-->
                
                      <div class="tab-pane" id="input-tab">
                          <p>Silahkan isikan data Peserta.</p>
                          <form action="{% url 'master_petugas:alokasi' %}" method="POST" id="formAlokPetugas" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id_id">
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <h5 class="mb-3">{{ form.petugas.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.petugas.id_for_label}}">
                                        <select name="petugas" id="{{ form.petugas.id_for_label }}" class="form-select">
                                            <option value="">---------</option>
                                            {% for dt in data_mitra  %}
                                            <option value="{{dt.id}}">[{{dt.kode_petugas}}] {{dt.nama_petugas}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="{{form.petugas.id_for_label}}">{{ form.petugas.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.petugas.id_for_label}}">
                                        </div>
                                    </div>
                                    
                                    <h5 class="mb-3 mt-4">{{ form.role.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.role.id_for_label}}">
                                        {{form.role}}
                                        <label for="{{form.role.id_for_label}}">{{ form.role.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.role.id_for_label}}">
                                        </div>
                                    </div>

                                </div>
                            
                                <div class="col-lg-6">
                                    <h5 class="mb-3">{{ form.survey.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.survey.id_for_label}}">
                                        {{form.survey}}
                                        <label for="{{form.survey.id_for_label}}">{{ form.survey.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.survey.id_for_label}}">
                                        </div>
                                    </div>

                                    <h5 class="mb-3 mt-4">{{ form.const_salary.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.const_salary.id_for_label}}">
                                        {{form.const_salary}}
                                        <label for="{{form.const_salary.id_for_label}}">{{ form.const_salary.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.const_salary.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row mt-2">
                                <div class="col-lg">        
                                     <button type="submit" class="btn btn-primary" id="submitformAlokPetugas">Kirim Data</button>
                                     <button type="button" class="btn btn-danger" id="ResetformAlokPetugas">Reset</button>
                                </div>
                            </div>
                        
                        </form>
                      </div> <!-- end preview code-->

                    <div class="tab-pane" id="import-tab">
                        <h5>Preview File Upload</h5>

                        <div class="table-responsive">
                            <table id="preview-data-upload" class="table table-hover w-100 dt-responsive nowrap">
                                <thead>
                                  <tr>
                                    <td></td>
                                  </tr>
                                </thead>
                            
                                <tbody>
                                 
                                </tbody>
                            </table>                                            
                        </div>

                        <div class="row mb-2 mt-2">
                            <div class="col-sm-6">
                                <a href="" role="button" class="btn btn-danger mb-2">Back</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end">
                                    <button type="button" class="btn btn-success mb-2 me-1" id="confirm-submit-file"><i class="mdi mdi-send-check"></i> Upload File</button>
                                </div>
                            </div><!-- end col-->
                        </div>
                        
                    </div> <!-- end preview-->
                    
                </div> <!-- end tab-content-->
  
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
  </div>
  <!-- end row-->
  
  
<div id="import-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="compose-header-modalLabel">Import Alokasi Petugas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="p-1">
                <div class="modal-body px-3 pt-3 pb-0">
                    <h5>Upload Alokasi Petugas</h5>
                    <div class="mb-3">
                        <ol>
                            <li>Unduh template petugas: <br>
                                <div class="mt-1">
                                    <input type="number" class="form-control  form-control-sm d-inline" style="width:150px;" placeholder="Jumlah baris data" alt="Masukan jumlah data" id="number_rows">   
                                    <button class="btn btn-primary btn-sm d-inline" id="get-templates-upload">Unduh</button>
                                </div>
                            </li>
                            <br>
                            <li>Upload file pada form berikut:</li>
                        </ol>
                    </div>

                    <form action="" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <label for="{{form_upload.import_file.id_for_label}}" class="form-label"><h5>{{ form_upload.import_file.label }}</h5></label>
                        <div class="mb-3">
                            {{form_upload.import_file}}
                        </div>
                    </form> 

                </div>
                <div class="px-3 pb-3">
                    <button type="button" class="btn btn-primary" id="btn-submit-file"><i class="mdi mdi-send me-1"></i> Upload file</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFilterLabel">Filter Alokasi Petugas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h5>Filter by Survei</h5>
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex align-items-center">
                     <select class="form-select" id="survei-select-filter">
                        <option value="">Pilih Kegiatan</option>
                        {% for dt in data_survei  %}
                            <option value="{{ dt.id }}">{{ dt.nama }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <h5>Filter by Jabatan</h5>
        <div class="row mb-3">
            <div class="col-11">
                <div class="d-flex align-items-center">
                     <select class="form-select" id="jabatan-select-filter">
                        <option value="">Pilih Jabatan</option>
                        {% for dt in data_jabatan  %}
                            <option value="{{ dt.id }}">{{ dt.jabatan }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        
        <button class="btn btn-danger mt-3" id="reset-filter">Clear Filter</button>
    </div>
</div>



{% endblock table-content %}

{% block tables-script-extend %}
<script src="{% static 'pages/js/alokasi_petugas.js' %}"></script>
<script>

    let table = generate_alokasi_petugas("{% url 'master_petugas:datatable-json-alok' %}", '{{csrf_token}}')

    let editAlokPetugas = (e) => {
        editAlokasiPetugas("{% url 'master_petugas:detail-alokasi' %}", '{{csrf_token}}', "{% url 'master_petugas:update-alokasi' %}", e)
    }

    let deleteAlokasi = (e) => {
        delete_general_request("Apakah anda yakin ingin menghapus data alokasi mitra?", "{% url 'master_petugas:delete-alokasi' %}", '{{csrf_token}}', e, table)
    }

    let resetForm = () => {
        resetFormAlokasiPetugas("{% url 'master_petugas:alokasi' %}")
    }

    $('#formAlokPetugas').on('submit', (e) => {

        e.preventDefault()
        
        var serializedData = $(this).serialize();
        $('.invalid-feedback').html('')
        $('.is_invalid').removeClass('is_invalid')
        
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: serializedData,
            success: (response) =>  {
                if (response.status == 'success'){
                    $('#messages-content').html(response["message"])
                    $('#msgs-upload').removeClass('alert-danger')
                    $('#msgs-upload').addClass('alert-success')
                    $('#msgs-upload').removeClass('d-none')
                    table.ajax.reload();
                    resetForm()
                    $('.nav-tabs a[href="#alokasi-preview"]').tab('show');
                }else{
                    Swal.fire(
                        'Terjadi Kesalahan!',
                        response.message,
                        'info'
                    )
                }
            },
            error: (response) => {
                var errors = response["responseJSON"]["error"]
                for (const [key, value] of Object.entries(errors)) {
                    var msgs = '<ul>'
                    value.forEach((item, index) => {
                    
                        msgs += '<li>'+item+'</li>'
                        });
                    
                    msgs += '</ul>'
                    $('#id_'+ key).addClass('is-invalid');
                    $('#msg-id_'+key).html(msgs)
                }    
            }
        })
    })

    $('#{{form_upload.import_file.id_for_label}}').on('change', () => {
        preview_excel('preview-data-upload', '{{form_upload.import_file.id_for_label}}', 4)
    })

    $('#btn-submit-file').on('click', (e) => {
        $('#nav-item-import').removeClass('d-none')
        $('.nav-tabs a[href="#import-tab"]').tab('show');
        $(this).blur()
        $('#import-modal').modal('toggle')
    })
    
    $('#confirm-submit-file').on('click', () => {
        confirmSubmitFile("{% url 'master_petugas:upload-alokasi' %}", "{{csrf_token}}", $('#{{form_upload.import_file.id_for_label}}').get(0).files[0])
    })

</script>

{% endblock tables-script-extend %}