{% extends 'base/detached-layout/datables.html' %}

{% load static %}

{% block nav_content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Mitra</a></li>
                    <li class="breadcrumb-item active">Alokasi Mitra</li>
                </ol>
            </div>
            <h4 class="page-title">{{title}}</h4>
        </div>
    </div>  
</div>     

{% endblock nav_content %}


{% block table-content %}

<div class="row">
    <div class="col-12">
        <div class="alert alert-danger d-none" id="msgs-upload" role="alert">   
            <div id="messages-content">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Alokasi Mitra</h4>
                <p class="text-muted font-14">
                    Alokasi Mitra berisi informasi beban tugas mitra untuk setiap kegiatan yang pernah diikuti di BPS Kabupaten Muna. 
                </p>
  
                <ul class="nav nav-tabs nav-bordered mb-3">
                      <li class="nav-item">
                          <a href="#alokasi-preview" data-bs-toggle="tab" class="nav-link active">
                              Data Alokasi Penugasan
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="#input-tab" data-bs-toggle="tab" class="nav-link" id="input-mitra" onclick="input_mitra_tab()">
                              Penugasan Mitra
                          </a>
                      </li>
                      <li class="nav-item">
                        <a href="#input-tab" data-bs-toggle="tab" class="nav-link" id="input-pegawai" onclick="input_pegawai_tab()">
                            Penugasan Organik
                        </a>
                      </li>
                      <li class="nav-item d-none" id="nav-item-import">
                        <a href="#import-tab" data-bs-toggle="tab" class="nav-link">
                            Import
                        </a>
                      </li>

                </ul> <!-- end nav-->
                <div class="tab-content">
                      <div class="tab-pane show active" id="alokasi-preview">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <a href="#offcanvasFilter"  data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasFilter" class="btn btn-primary mb-2"><i class="mdi mdi-filter-menu me-2"></i> Filter Data</a>
                                    <button type="button" class="btn btn-primary mb-2 me-1" id="redraw-table"><i class="mdi mdi-refresh"></i> Refresh</button>
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-sm-end">
                                        <button type="button" class="btn btn-primary mb-2 me-1" data-bs-toggle="modal" data-bs-target="#import-modal"><i class="mdi mdi-file-move"></i> Import</button>
                                        <a href="{% url 'master_petugas:export-alokasi' %}" class="btn btn-primary mb-2"><i class="mdi mdi-download"></i> Export</a>
                                    </div>
                                </div><!-- end col-->
                            </div>
                            <div class="table-responsive">
                                <table id="basic-datatable" class="table table-centered table-striped w-100 dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th width="5%">No</th>
                                            <th>Kode Petugas</th>
                                            <th>Nama Petugas</th>
                                            <th>Kegiatan Survei</th>
                                            <th>Jabatan</th>
                                            <th>Status</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                      
                                    </tbody>
                                </table>                                            
                            </div>
                      </div> <!-- end preview-->
                
                      <div class="tab-pane" id="input-tab">
                          <p>Silahkan isikan data penugasan petugas.</p>
                          <form action="{% url 'master_petugas:alokasi' %}" method="POST" id="formAlokPetugas" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id_id">
                            <div class="row mt-3">
                                <div class="col-lg-4">
                                    <h5 class="mb-3">{{ form.petugas.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.petugas.id_for_label}}">
                                        <select name="petugas" id="{{ form.petugas.id_for_label }}" class="form-select">
                                            <option value="">---------</option>
                                            {% for dt in data_mitra  %}
                                            <option value="{{dt.id}}">[{{dt.kode_petugas}}] {{dt.nama_petugas}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="{{form.petugas.id_for_label}}">{{ form.petugas.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.petugas.id_for_label}}">
                                        </div>
                                    </div>
                                    <div class="form-floating errors d-none" id="form_{{form.pegawai.id_for_label}}">
                                        <select name="pegawai" id="{{ form.pegawai.id_for_label }}" class="form-select">
                                            <option value="">---------</option>
                                            {% for dt in data_pegawai  %}
                                            <option value="{{dt.id}}">[{{dt.nip_bps}}] {{dt.name}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="{{form.pegawai.id_for_label}}">{{ form.pegawai.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.pegawai.id_for_label}}">
                                        </div>
                                    </div>
                                    
                                    <h5 class="mb-3 mt-3">{{ form.role.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.role.id_for_label}}">
                                        {{form.role}}
                                        <label for="{{form.role.id_for_label}}">{{ form.role.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.role.id_for_label}}">
                                        </div>
                                    </div>

                                </div>
                            
                                <div class="col-lg-4">
                                    <h5 class="mb-3">{{ form.sub_kegiatan.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.sub_kegiatan.id_for_label}}">
                                        <select name="sub_kegiatan" class="form-select" required="" placeholder="..." id="id_sub_kegiatan_id">
                                            <option value="" selected="">---------</option>
                                            {% for dt in data_sub_kegiatan %}
                                            <option value="{{dt.id}}">{{dt.nama_kegiatan}} ({{dt.survey.nama}})</option>
                                            {% endfor %}
                                          </select>
                                        <label for="{{form.sub_kegiatan.id_for_label}}">{{ form.sub_kegiatan.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.sub_kegiatan.id_for_label}}">
                                        </div>
                                    </div>

                                    <h5 class="mb-3 mt-4">{{ form.const_salary.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.const_salary.id_for_label}}">
                                        {{form.const_salary}}
                                        <label for="{{form.const_salary.id_for_label}}">{{ form.const_salary.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.const_salary.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row mt-2">
                                <div class="col-lg">
                                     <button type="submit" class="btn btn-primary" id="submitformAlokPetugas" onclick="checkSubmit()">Kirim Data</button>
                                     <button type="button" class="btn btn-danger" id="ResetformAlokPetugas">Reset</button>
                                </div>
                            </div>
                        
                        </form>
                      </div> <!-- end preview code-->

                    <div class="tab-pane" id="import-tab">
                        <h5>Preview File Upload</h5>

                        <div class="table-responsive">
                            <table id="preview-data-upload" class="table table-hover w-100 dt-responsive nowrap">
                                <thead>
                                  <tr>
                                    <td></td>
                                  </tr>
                                </thead>
                            
                                <tbody>
                                 
                                </tbody>
                            </table>                                            
                        </div>

                        <div class="row mb-2 mt-2">
                            <div class="col-sm-6">
                                <a href="" role="button" class="btn btn-danger mb-2">Back</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end">
                                    <button type="button" class="btn btn-success mb-2 me-1" id="confirm-submit-file"><i class="mdi mdi-send-check"></i> Upload File</button>
                                </div>
                            </div><!-- end col-->
                        </div>
                        
                    </div> <!-- end preview-->
                </div> <!-- end tab-content-->
  
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
  </div>
  <!-- end row-->
  
  
<div id="import-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="compose-header-modalLabel">Import Alokasi Petugas</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="p-1">
                <div class="modal-body px-3 pt-3 pb-0">
                    <h5>Upload Alokasi Petugas</h5>
                    <div class="mb-3">
                        <ol>
                            <li>Unduh template petugas: <br>
                                <div class="mt-1">
                                    <input type="number" class="form-control  form-control-sm d-inline" style="width:150px;" placeholder="Jumlah baris data" alt="Masukan jumlah data" id="number_rows">   
                                    <button class="btn btn-primary btn-sm d-inline" id="get-templates-upload">Unduh</button>
                                </div>
                            </li>
                            <br>
                            <li>Upload file pada form berikut:</li>
                        </ol>
                    </div>

                    <form action="" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <label for="{{form_upload.import_file.id_for_label}}" class="form-label"><h5>{{ form_upload.import_file.label }}</h5></label>
                        <div class="mb-3">
                            {{form_upload.import_file}}
                        </div>
                    </form> 

                </div>
                <div class="px-3 pb-3">
                    <button type="button" class="btn btn-primary" id="btn-submit-file"><i class="mdi mdi-send me-1"></i> Upload file</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFilterLabel">Filter Alokasi Petugas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h5>Filter by Survei</h5>
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex align-items-center">
                     <select class="form-select" id="survei-select-filter">
                        <option value="">Pilih Kegiatan</option>
                        {% for dt in data_survei  %}
                            <option value="{{ dt.id }}">{{ dt.nama }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <h5>Filter by Jabatan</h5>
        <div class="row mb-3">
            <div class="col-11">
                <div class="d-flex align-items-center">
                     <select class="form-select" id="jabatan-select-filter">
                        <option value="">Pilih Jabatan</option>
                        {% for dt in data_jabatan  %}
                            <option value="{{ dt.id }}">{{ dt.jabatan }}</option>
                        {% endfor %}
                    </select>
                </div> 
            </div>
        </div>
        
        <button class="btn btn-primary mt-3" id="reset-filter">Clear Filter</button>
    </div>
</div>

{% endblock table-content %}

{% block tables-script-extend %}

<script src="{% static 'pages/js/alokasi_petugas.js' %}"></script>
<script>

    let table = generate_alokasi_petugas("{% url 'master_petugas:datatable-json-alok' %}", '{{csrf_token}}')

    let editAlokPetugas = (e) => {
        editAlokasiPetugas("{% url 'master_petugas:detail-alokasi' %}", '{{csrf_token}}', "{% url 'master_petugas:update-alokasi' %}", e)
    }

    let deleteAlokasi = (e) => {
        delete_general_request("Apakah anda yakin ingin menghapus data alokasi mitra?", "{% url 'master_petugas:delete-alokasi' %}", '{{csrf_token}}', e, table)
    }

    let resetForm = () => {
        resetFormAlokasiPetugas("{% url 'master_petugas:alokasi' %}")
    }

    $('#formAlokPetugas').on('submit', (e) => {
        e.preventDefault()
        form_submit('{{csrf_token}}')
    })

    $('#{{form_upload.import_file.id_for_label}}').on('change', () => {
        preview_excel('preview-data-upload', '{{form_upload.import_file.id_for_label}}', 4)
    })

    $('#confirm-submit-file').on('click', () => {
        confirmSubmitFile("{% url 'master_petugas:upload-alokasi' %}", "{{csrf_token}}", $('#{{form_upload.import_file.id_for_label}}').get(0).files[0])
    })

    $('#get-templates-upload').on('click', () => {
        var numrows = $('#number_rows').val()
        return window.location.replace("{% url 'master_petugas:template-alokasi' %}?rows=" + numrows);
    })

</script>

{% endblock tables-script-extend %}