{% extends 'base/horizontal/base.html' %}

{% load static %}

{% block css-extender %}
<style>
    #ranking-global thead th {
        background: white!important;
        position: sticky;
        top: 0;
      }
</style>        
{% endblock css-extender %}


{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <form class="d-flex">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-light" placeholder="Cari Mitra">
                            <span class="input-group-text bg-primary border-primary text-white">
                                <i class="mdi mdi-calendar-range font-13"></i>
                            </span>
                        </div>
                        <a href="javascript: void(0);" class="btn btn-primary ms-2">
                            <i class="mdi mdi-autorenew"></i>
                        </a>
                        <a href="javascript: void(0);" class="btn btn-primary ms-1">
                            <i class="mdi mdi-filter-variant"></i>
                        </a>
                    </form>
                </div>
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-5 col-lg-6">

            <div class="row">
                <div class="col-lg-6">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-account-multiple widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Jumlah Kegiatan">Jumlah Mitra</h5>
                            <h3 class="mt-3 mb-3">5</h3>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-lg-6">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-cart-plus widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Jumlah Mitra Diblacklist</h5>
                            <h3 class="mt-3 mb-3">10</h3>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div> <!-- end row -->

            <div class="row">
                <div class="col-lg-6">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-currency-usd widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Rerata Nilai Mitra</h5>
                            <h3 class="mt-3 mb-3">20</h3>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-lg-6">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-pulse widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Growth">Jumlah Mitra Dinilai</h5>
                            <h3 class="mt-3 mb-3">24</h3>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div> <!-- end row -->

        </div> <!-- end col -->

        <div class="col-xl-7 col-lg-6">
            <div class="card card-h-100">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                    <h4 class="header-title mb-3">Penilaian Mitra Global</h4>

                    <div class="table-responsive-sm" style="max-height: 200px; overflow-y: schroll;display:block">
                        <table class="table table-centered table-striped dt-responsive nowrap w-100" id="ranking-global">
                            <thead>
                                <tr>
                                    <th>Wilayah (Kecamatan)</th>
                                    <th>Nama Mitra</th>
                                    <th class="text-center">Rerata Nilai</th>
                                    <th>Ranking</th>
                                </tr>
                            </thead>
                       
                            <tbody>

                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                        
                </div> <!-- end card-body-->
            </div> <!-- end card-->

        </div> <!-- end col -->
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <a href="" class="btn btn-sm btn-link float-end">Export
                        <i class="mdi mdi-download ms-1"></i>
                    </a>
                    <h4 class="header-title mt-2 mb-3">Daftar Mitra BPS Kabupaten Muna</h4>

                    <div class="table-responsive-sm">
                        <table class="table table-centered table-striped dt-responsive nowrap w-100" id="list-petugas">
                            <thead>
                                <tr>
                                    <th>ID Sobat</th>
                                    <th>Nama Mitra</th>
                                    <th>Wilayah</th>
                                    <th>No Telp.</th>
                                    <th>Email</th>
                                    <th>Jumlah Kegiatan Diikuti</th>
                                    <th>Dinilai oleh</th>
                                    <th>Status</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>
    </div>

</div>
<!-- container -->
{% endblock content %}
{% block js-extender %}
    <script>
        let table = $('#ranking-global').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                "url": "{% url 'master_penilaian:rank-petugas-json' %}",
                "headers": {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": '{{csrf_token}}',
                },
                "type": "POST"
            },
            columns :[
                {"data": 'wilayah'},
                {"data" : 'petugas'},
                {"data" : 'rerata'},
                {"data" : 'rank'},
            ],
            columnDefs: [ {
                'targets': [2,3], /* column index */
                'className': "text-center"
            }],
            bLengthChange: false,
            bPaginate: false,
            bFilter: false,
        });

        let table2 = $("#list-petugas").DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                "url": "{% url 'master_petugas:list-petugas-json' %}",
                "headers": {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": '{{csrf_token}}',
                },
                "type": "POST"
            },
            columns :[
                {"data": 'kode_petugas'},
                {"data": 'nama_petugas'},
                {"data" : 'adm_id__region'},
                {"data": 'no_telp'},
                {"data" : 'email'},
                {"data" : 'jml_kegiatan'},
                {"data" : 'jml_penilai'},
                {"data" : 'status'},
                {"data" : 'aksi'},
            ],
            lengthMenu: [5, 25, 50, 100,'All'],
            columnDefs: [ {
                'targets': [8], /* column index */
                'orderable': false, /* true or false */
                'className': "text-center"
            },
            {
                'targets': [3, 5,6,7], /* column index */
                'className': "text-center"
            }
            ],
            bLengthChange: false,
            bFilter: false,
            keys: !0,
            language: {
                paginate: {
                previous: "<i class='mdi mdi-chevron-left'>",
                next: "<i class='mdi mdi-chevron-right'>",
                },
            },
            drawCallback: function () {
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
            },
        });
    </script>
{% endblock js-extender %}