{% extends 'base/detached-layout/datables.html' %}

{% load static %}

{% block nav_content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Mitra</a></li>
                    <li class="breadcrumb-item active">Role Mitra</li>
                </ol>
            </div>
            <h4 class="page-title">{{title}}</h4>
        </div>
    </div>  
</div>     

{% endblock nav_content %}

{% block table-content %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-danger d-none" id="msgs-upload" role="alert">   
            <div id="messages-content">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <h4 class="header-title">Jabatan Petugas</h4>
                <p class="text-muted font-14">
                    Tambahkan jabatan/role petugas untuk setiap jenis kegiatan pendataan lapangan dan pengolahan. 
                </p>
  
                <ul class="nav nav-tabs nav-bordered mb-3">
                      <li class="nav-item">
                          <a href="#rolepetugas-preview" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                              Data Jabatan Petugas
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="#input-tab" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                              Input
                          </a>
                      </li>
                </ul> <!-- end nav-->
                <div class="tab-content">
                      <div class="tab-pane show active" id="rolepetugas-preview">
                            <div class="row mb-2">
                                <div class="col-md">
                                    <div class="d-flex justify-content-start">
                                        <button type="button" class="btn btn-primary mb-2 me-1" id="redraw-table"><i class="mdi mdi-refresh"></i> Refresh</button>
                                        <a href="{% url 'master_petugas:export-role' %}" class="btn btn-primary mb-2"><i class="mdi mdi-download"></i> Export</a>
                                    </div>
                                </div><!-- end col-->
                            </div>

                            <div class="table-responsive mt-3">
                                <table id="basic-datatable" class="table table-centered table-hover w-100 dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th width="10%">No</th>
                                            <th>Jabatan/Role</th>
                                            <th class="text-center">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                      </div> <!-- end preview-->
                
                      <div class="tab-pane" id="input-tab">
                          <p>Silahkan isikan Role Peserta.</p>
                          <form action="{% url 'master_petugas:role' %}" method="POST" id="formRolePetugas" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id_id">
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <h5 class="mb-3">{{ form.jabatan.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.jabatan.id_for_label}}">
                                        {{form.jabatan}}
                                        <label for="{{form.jabatan.id_for_label}}">{{ form.jabatan.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.jabatan.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row mt-2">
                                <div class="col-lg">        
                                     <button type="submit" class="btn btn-primary" id="submitformRolePetugas">Kirim Data</button>
                                     <button type="button" class="btn btn-primary" id="ResetformRolePetugas">Reset</button>
                                </div>
                            </div>
                        
                        </form>
                      </div> <!-- end preview code-->
                </div> <!-- end tab-content-->
  
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
  </div>
  <!-- end row-->
  
{% endblock table-content %}

{% block tables-script-extend %}
<script src="{% static 'pages/js/master_petugas.js' %}"></script>

<script>
    'use strict'
    
    let table = generate_role_petugas("{% url 'master_petugas:datatable-json-role' %}", '{{csrf_token}}')
    let resetForm = () => resetFormTarget("{% url 'master_petugas:role' %}") 

    let editRole = (e) => edit_role("{% url 'master_petugas:detail-role' %}", "{{csrf_token}}", "{% url 'master_petugas:update-role' %}", e) 

    let deleteRole = (e) => delete_general_request("Apakah anda yakin ingin menghapus data role mitra?", "{% url 'master_petugas:delete-role' %}", '{{csrf_token}}', e, table)

    $('#formRolePetugas').on('submit', function(e){
        e.preventDefault()
        form_submit("{{csrf_token}}")
    })

</script>

{% endblock tables-script-extend %}