{% extends 'base/detached-layout/datables.html' %}

{% load static %}

{% block nav_content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Survei</a></li>
                    <li class="breadcrumb-item active">Kegiatan Survei</li>
                </ol>
            </div>
            <h4 class="page-title">{{title}}</h4>
        </div>
    </div>  
</div>     

{% endblock nav_content %}

{% block table-content %}

<div class="row">
    <div class="col-12">
        <div class="alert alert-danger d-none" id="msgs-upload" role="alert">   
           
            <div id="messages-content">
             
            </div>
            
        </div>
    </div>
</div>

<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="header-title">Master Kegiatan Survei</h4>
              <p class="text-muted font-14">
                  Master kegiatan survei berisi informasi kegiatan survei baik lapangan maupun pengolahan yang sedang atau telah dilaksanakan di BPS Kabupaten Muna. Satu survei bisa memiliki lebih dari satu pelaksanaan kegiatan.
              </p>

              <ul class="nav nav-tabs nav-bordered mb-3">
                    <li class="nav-item">
                        <a href="#subkegiatan-preview" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                            Data Kegiatan Survei
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#input-tab" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                            Input
                        </a>
                    </li>
              </ul> <!-- end nav-->
              <div class="tab-content">
                    <div class="tab-pane show active" id="subkegiatan-preview">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <a href="#offcanvasFilter"  data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasFilter" class="btn btn-primary mb-2"><i class="mdi mdi-filter-menu me-2"></i> Filter Data</a>
                                <button type="button" class="btn btn-primary mb-2 me-1" id="redraw-table"><i class="mdi mdi-refresh"></i> Refresh</button>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end">
                                    <a href="{% url 'master_survei:export-survey' %}" class="btn btn-primary mb-2"><i class="mdi mdi-download"></i> Export</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="basic-datatable" class="table table-centered table-striped w-100 dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th width="5%">No</th>
                                        <th>Nama Kegiatan</th>
                                        <th>Survei</th>
                                        <th>Tahun</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            
                                <tbody>
    
                                </tbody>
                            </table>                                            
                        </div>
                    </div> <!-- end preview-->
              
                    <div class="tab-pane" id="input-tab">
                        <p>Silahkan isikan data kegiatan survei.</p>
                        <form action="{% url 'master_survei:kegiatan-survey' %}" method="POST" id="formSubKegiatan" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id_id">
                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <h5 class="mb-3">{{ form.nama_kegiatan.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.nama_kegiatan.id_for_label}}">
                                        {{form.nama_kegiatan}}
                                        <label for="{{form.nama_kegiatan.id_for_label}}">{{ form.nama_kegiatan.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.nama_kegiatan.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4">
                                    <h5 class="mb-3">{{ form.survey.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.survey.id_for_label}}">
                                        {{form.survey}}
                                        <label for="{{form.survey.id_for_label}}">{{ form.survey.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.survey.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-3">
                                    <h5 class="mb-3">{{ form.status.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.status.id_for_label}}">
                                        {{form.status}}
                                        <label for="{{form.status.id_for_label}}">{{ form.status.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.status.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row mt-2">
                                <div class="col-lg">        
                                     <button type="submit" class="btn btn-primary" id="submitFormSurvei">Kirim Data</button>
                                     <button type="button" class="btn btn-danger" id="ResetFormSurvei">Reset</button>
                                </div>
                            </div>
                        </form>
       
                    </div> <!-- end preview code--> 

                    
                    <div class="tab-pane" id="import-tab">
                        <h5>Preview File Upload</h5>

                        <div class="table-responsive">
                            <table id="preview-data-upload" class="table table-hover w-100 dt-responsive nowrap">
                                <thead>
                                  <tr>
                                    <td></td>
                                  </tr>
                                </thead>
                            
                                <tbody>
                                 
                                </tbody>
                            </table>                                            
                        </div>

                        <div class="row mb-2 mt-2">
                            <div class="col-sm-6">
                                <a href="" role="button" class="btn btn-danger mb-2">Back</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end">
                                    <button type="button" class="btn btn-success mb-2 me-1" id="confirm-submit-file"><i class="mdi mdi-send-check"></i> Upload File</button>
                                </div>
                            </div><!-- end col-->
                        </div>
                        
                    </div> <!-- end preview-->
              </div> <!-- end tab-content-->

          </div> <!-- end card body-->
      </div> <!-- end card -->
  </div><!-- end col-->
</div>
<!-- end row-->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFilterLabel">Filter Survey</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <h5>Filter by Status</h5>
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex align-items-center">
                     <select class="form-select" id="status-select-filter">
                        <option value="">----</option>
                       {% for value, text in form.status.field.choices %}
                            <option value="{{ value }}">{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <button class="btn btn-primary mt-3" id="reset-filter">Clear Filter</button>
    </div>
</div>

{% endblock table-content %}

{% block tables-script-extend %}

<script>
    'use strict'

    var swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-primary'},
        buttonsStyling: true
    })

    var table = $("#basic-datatable").DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            "url": "{% url 'master_survei:kegiatan-survey-json' %}",
            "headers": {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            "type": "POST",
            "data": function (d){
                return $.extend({}, d, {
                    "state_filter": $('#status-select-filter').val(),
                })
            },
        },
        columns :[
            {"data": 'nama_kegiatan'},
            {"data": 'nama_kegiatan'},
            {"data" : 'survey__nama'},
            {"data":  'survey__tgl_mulai'},
            {"data":  'status'},
            {"data" : 'aksi'},
        ],
        lengthMenu: [5, 25, 50, 100,'All'],
        columnDefs: [ {
            'targets': [5], /* column index */
            'orderable': false, /* true or false */
        }, {
            "targets": 0,
            "data": null,
            "defaultContent": "",
            "render": function (data, type, row, meta) {
                return meta.row + 1;
            }
        }],
        keys: !0,
        language: {
            paginate: {
            previous: "<i class='mdi mdi-chevron-left'>",
            next: "<i class='mdi mdi-chevron-right'>",
            },
            lengthMenu : "Menampilkan _MENU_",
            search: "Cari Kegiatan Survei",
        },
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
        },
    });

    function editSubKegiatan(e){
        $('#formSubKegiatan').attr('action', "{% url 'master_survei:update-kegiatan' %}")
        $('#submitFormSurvei').html('Update Data')
    
        $.ajax({
            url: '{% url 'master_survei:detail-kegiatan' %}',
            type: "POST",
            dataType: "json",
            data : {
                'id' : e
            },
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (data) => {
                for (const [key, value] of Object.entries(data.instance)) {
                    $('#id_'+key).val(value)
                }
                $('.nav-tabs a[href="#input-tab"]').tab('show');
            },
            error: (error) => {
                console.log(error);
            }
        });
        
    }

    function deleteSubKegiatan(e){

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Apakah anda yakin ingin menghapus data survei?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false
          }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: '{% url 'master_survei:delete-kegiatan' %}',
                    type: "POST",
                    dataType: "json",
                    data : {
                        'id' : e
                    },
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": '{{csrf_token}}',
                    },
                    success: (data) => {
                        if (data.status == 'success'){
                            Swal.fire(
                                'Deleted!',
                                data.message,
                                'success'
                                )
                            table.ajax.reload();
                        }else{
                            Swal.fire(
                                'Terjadi Kesalahan!',
                                 data.message,
                                'info'
                            )
                        }
                    },
                    error: (error) => {
                        console.log(error);
                    }
                });
            }
        }) 

    }

    function openTabInput(){
        var url = $(location).attr('href')
        if (url.search('#input-tab') > 0) {
            return $('.nav-tabs a[href="#input-tab"]').tab('show');
        }
    }

    function resetForm(){
        $('#formSubKegiatan')[0].reset();
        $('.was-validated').removeClass('was-validated')
        $('#submitFormPetugas').html('Kirim Data')
        $('#formSubKegiatan').attr('action', "{% url 'master_survei:kegiatan-survey' %}")
    }

    openTabInput()

    $('#status-select-filter').bind("keyup change", function (){
        table.draw()
    })

    $('#ResetFormSurvei').on('click', function(e){
        resetForm()
    })

    $("#formSubKegiatan").on("submit", function (e){
        e.preventDefault()
        var serializedData = $(this).serialize();
        $('.invalid-feedback').html('')
        $('.is_invalid').removeClass('is_invalid')
        
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: serializedData,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: function (response) {
                $('#messages-content').html(response["message"])
                $('#msgs-upload').removeClass('alert-danger')
                $('#msgs-upload').addClass('alert-success')
                $('#msgs-upload').removeClass('d-none')
                table.ajax.reload();
                $('.nav-tabs a[href="#subkegiatan-preview"]').tab('show');
                resetForm()
            },
            error: function (response) {
                var errors = response["responseJSON"]["error"]
                for (const [key, value] of Object.entries(errors)) {
                    var msgs = '<ul>'
                    value.forEach(function (item, index) {
                    
                        msgs += '<li>'+item+'</li>'
                        });
                    
                    msgs += '</ul>'
                    $('#id_'+ key).addClass('is-invalid');
                    $('#msg-id_'+key).html(msgs)
                }    
            }
        })

    })

    $('#redraw-table').on('click', function (){
        table.draw();
    })
   
    $('#reset-filter').on('click', function (){
        $('#status-select-filter').prop('selectedIndex',0);
        table.draw();
    })

</script>

{% endblock tables-script-extend %}