{% extends 'base/horizontal/base.html' %}

{% load static %}

{% block css-extender %}
<style>
    #ranking-global thead th {
        background: white!important;
        position: sticky;
        top: 0;
      }
</style>        
{% endblock css-extender %}


{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <form class="d-flex">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-light" placeholder="Cari Mitra">
                            <span class="input-group-text bg-primary border-primary text-white">
                                <i class="mdi mdi-calendar-range font-13"></i>
                            </span>
                        </div>
                        <a href="javascript: void(0);" class="btn btn-primary ms-2">
                            <i class="mdi mdi-autorenew"></i>
                        </a>
                        <a href="javascript: void(0);" class="btn btn-primary ms-1">
                            <i class="mdi mdi-filter-variant"></i>
                        </a>
                    </form>
                </div>
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-5 col-lg-6">

            <div class="row">
                <div class="col-lg-6">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-account-multiple widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Jumlah Kegiatan">Jumlah Kegiatan Diikuti</h5>
                            <h3 class="mt-3 mb-3">{{jml_kegiatan}}</h3>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-lg-6">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-cart-plus widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Jumlah Kegiatan Penilaian</h5>
                            <h3 class="mt-3 mb-3">{{jml_penilaian_aktif}}</h3>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div> <!-- end row -->

            <div class="row">
                <div class="col-lg-6">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-currency-usd widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Jumlah Mitra</h5>
                            <h3 class="mt-3 mb-3">{{jml_mitra_belum_dinilai}}</h3>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-lg-6">
                    <div class="card widget-flat">
                        <div class="card-body">
                            <div class="float-end">
                                <i class="mdi mdi-pulse widget-icon"></i>
                            </div>
                            <h5 class="text-muted fw-normal mt-0" title="Growth">Jumlah Mitra Dinilai</h5>
                            <h3 class="mt-3 mb-3">{{jml_mitra_dinilai}}</h3>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div> <!-- end row -->

        </div> <!-- end col -->

        <div class="col-xl-7 col-lg-6">
            <div class="card card-h-100">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                    <h4 class="header-title mb-3">Penilaian Mitra Global</h4>

                    <div class="table-responsive-sm" style="max-height: 200px; overflow-y: schroll;display:block">
                        <table class="table table-centered table-striped dt-responsive nowrap w-100" id="ranking-global">
                            <thead>
                                <tr>
                                    <th>Wilayah (Kecamatan)</th>
                                    <th>Nama Mitra</th>
                                    <th class="text-center">Rerata Nilai</th>
                                    <th>Ranking</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                        
                </div> <!-- end card-body-->
            </div> <!-- end card-->

        </div> <!-- end col -->
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-2 mb-3">Kegiatan Penilaian Mitra</h4>
                    <div class="table-responsive-sm">
                        <table class="table table-centered table-striped dt-responsive nowrap w-100" id="list_kegiatan_penilaian">
                            <thead>
                                <tr>
                                    <th>Nama Survei/Sensus</th>
                                    <th>Kegiatan Penilaian</th>
                                    <th>Tanggal Penilaian</th>
                                    <th>Status Kegiatan</th>
                                    <th>Status Penilaian Anda</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-2 mb-3">Penilaian Mitra</h4>
                    <input type="hidden" id="kegiatan_penilaian">
                    <div class="table-responsive-sm">
                        <table class="table table-centered table-striped dt-responsive nowrap w-100" id="list-penilaian">
                            <thead>
                                <tr>
                                    <th>Kegiatan Penilaian</th>
                                    <th>Wilayah</th>
                                    <th>Nama Mitra</th>
                                    <th>Role</th>
                                    <th>Rerata Nilai</th>
                                    <th>Status Penilaian Anda</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>
    </div>

    <div class="row d-none" id="card-form-penilaian">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <a href="javascript:void(0)" class="btn btn-sm btn-link float-end" id="close-card-form">Tutup</a>
                    <h4 class="header-title mt-2 mb-3">Input Penilaian Mitra</h4>

                    <form action="{% url 'master_penilaian:penilaian' %}" method="POST" id="formPenilaianPetugas">
                        {% csrf_token %}
                        <div class="row">
                            <p>Silahkan isikan Penilaian Petugas.</p>
                            <input type="hidden" name="id" id="id_id">
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h5 class="mb-3">Penilai</h5>
                                        </div>
                                        <div class="col-sm-7">
                                            <select class="form-select mb-2" id="field_id_penilai" name="field_id_penilai">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h5 class="mb-3">Role Penilai</h5>
                                        </div>
                                        <div class="col-sm-7">
                                            <select class="form-select mb-2" id="field_role_penilai" name="field_role_penilai">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h5 class="mb-3">Kegiatan Penilaian</h5>
                                        </div>
                                        <div class="col-sm-7">
                                            <select class="form-select mb-2 d-inline" id="field_kegiatan_penilaian" name="field_kegiatan_penilaian">
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h5 class="mb-3">Survei</h5>
                                        </div>
                                        <div class="col-sm-7">
                                            <select class="form-select mb-2" id="field_survey" name="field_survey">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h5 class="mb-3">Petugas</h5>
                                        </div>
                                        <div class="col-sm-7">
                                            <select class="form-select mb-2 d-inline" id="field_mitra" name="field_mitra">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-sm-5">
                                            <h5 class="mb-3">Role Petugas</h5>
                                        </div>
                                        <div class="col-sm-7">
                                            <select class="form-select mb-2 d-inline" id="field_role_petugas" name="field_role_petugas">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="table-responsive-sm mt-2 mb-3">
                            <table class="table table-centered table-striped dt-responsive nowrap w-100" id="table_form_penilaian">
                                <thead>
                                    <tr class="bg-info text-white">
                                        <th>No</th>
                                        <th>Indikator Penilaian</th>
                                        <th>Penilaian</th>
                                        <th>Catatan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->
                        
                        <div class="row mt-3">
                            <div class="col-lg">        
                                <button type="submit" class="btn btn-primary" id="submitformPenilaianPetugas">Simpan Penilaian</button>
                            </div>
                        </div>
                    </form>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>
    </div>
</div>
<!-- container -->
{% endblock content %}

{% block js-extender %}
<script>

    let table = $("#list_kegiatan_penilaian").DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            "url": "{% url 'master_penilaian:list-penilaian-json' %}",
            "headers": {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            "type": "POST"
        },
        columns :[
            {"data": 'kegiatan_survey__nama_kegiatan'},
            {"data": 'kegiatan_survey__kegiatan_survey__survey__nama'},
            {"data" : 'tgl_penilaian'},
            {"data": 'status'},
            {"data" : 'status_penilaian'},
            {"data" : 'aksi'},
        ],
        lengthMenu: [5, 25, 50, 100,'All'],
        columnDefs: [ {
            'targets': [5], /* column index */
            'orderable': false, /* true or false */
            'className': "text-center"
        }],
        bLengthChange: false,
        bFilter: false,
        keys: !0,
        language: {
            paginate: {
            previous: "<i class='mdi mdi-chevron-left'>",
            next: "<i class='mdi mdi-chevron-right'>",
            },
        },
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
        },
    });

    let table2 = $("#list-penilaian").DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            "url": "{% url 'master_penilaian:list-nilai-json' %}",
            "headers": {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            "data": function (d){
                return $.extend({}, d, {
                    "kegiatan_penilaian": $('#kegiatan_penilaian').val(),
                })
            },
            "type": "POST"
        },
        columns :[
            {"data": 'kegiatan_penilaian'},
            {"data": 'wilayah'},
            {"data" : 'nama'},
            {"data": 'role'},
            {"data" : 'rerata'},
            {"data" : 'state'},
            {"data" : 'aksi'},
        ],
        lengthMenu: [5, 25, 50, 100,'All'],
        columnDefs: [ {
            'targets': [6], /* column index */
            'orderable': false, /* true or false */
            'className': "text-center"
        }],
        bLengthChange: false,
        bFilter: false,
        keys: !0,
        language: {
            paginate: {
            previous: "<i class='mdi mdi-chevron-left'>",
            next: "<i class='mdi mdi-chevron-right'>",
            },
        },
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
        },
    });

    let table3 = $('#ranking-global').DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            "url": "{% url 'master_penilaian:rank-petugas-json' %}",
            "headers": {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            "type": "POST"
        },
        columns :[
            {"data": 'wilayah'},
            {"data" : 'petugas'},
            {"data" : 'rerata'},
            {"data" : 'rank'},
        ],
        columnDefs: [ {
            'targets': [2,3], /* column index */
            'className': "text-center"
        }],
        bLengthChange: false,
        bPaginate: false,
        bFilter: false,
    });

    let pushValuePenilaian = (id) => {
        $('#kegiatan_penilaian').val(id)
        table2.draw()
    }

    let entryPenilaian = (id1, id2) => {
        
        $.ajax({
            url: '{% url 'master_penilaian:list-indicator-json' %}',
            type: "POST",   
            dataType: "json",
            data :  {'id_kegiatan' : id1, 'id_alokasi' : id2},
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (response) => {
                $('#field_id_penilai').html(response.data.penilai_opts)
                $('#field_role_penilai').html(response.data.role_penilai_opts)
                $('#field_kegiatan_penilaian').html(response.data.kegiatan_opts)
                $('#field_survey').html(response.data.survei_opts)
                $('#field_mitra').html(response.data.petugas_opts)
                $('#field_role_petugas').html(response.data.role_petugas_opts)

                $('#table_form_penilaian tbody').html(response.data.tbody)
                $('#card-form-penilaian').removeClass('d-none')
                
            },
            error: (error) => {
                console.log(error);
            }
        });

    }

    $('#formPenilaianPetugas').on('submit', function(e){

        e.preventDefault()

        var serializedData = $(this).serialize();

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: serializedData,
            success: function (response) {
                if (response.status == 'success'){
                    
                    Swal.fire(
                            'Data berhasil disimpan',
                            response.messages,
                            'success'
                    )
    
                    table2.ajax.reload();
                }
            },
            error: function (response) {
                console.log(response)
            }
        })
    })

    $('#close-card-form').on('click', () => {
        $('.form-select').val('')
        $('#table_form_penilaian tbody').html('')
        $('#card-form-penilaian').addClass('d-none')
    })
</script>
{% endblock js-extender %}