{% extends 'base/detached-layout/datables.html' %}

{% load static %}

{% block nav_content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Penilaian</a></li>
                    <li class="breadcrumb-item active">Indikator Penilaian</li>
                </ol>
            </div>
            <h4 class="page-title">{{title}}</h4>
        </div>
    </div>  
</div>     

{% endblock nav_content %}

{% block table-content %}

<div class="row">
    <div class="col-12">
        <div class="alert alert-danger d-none" id="msgs-upload" role="alert">   
           
            <div id="messages-content">
             
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Indikator Penilaian</h4>
                <p class="text-muted font-14">
                    Indikator penilaian berisi informasi yang digunakan sebagai dasar penilaian mitra BPS Kabupaten Muna
                </p>
  
                <ul class="nav nav-tabs nav-bordered mb-3">
                      <li class="nav-item">
                          <a href="#indikator-penilaian-preview" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                              Data Indikator Penilaian
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="#input-tab" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                              Input
                          </a>
                      </li>
                </ul> <!-- end nav-->
                <div class="tab-content">
                      <div class="tab-pane show active" id="indikator-penilaian-preview">
                            <div class="table-responsive">
                                <table id="basic-datatable" class="table table-centered table-striped w-100 dt-responsive ">
                                    <thead>
                                        <tr>
                                            <th width="5%">No</th>
                                            <th>Indikator Penilaian</th>
                                            <th>Deskripsi Penilaian</th>
                                            <th>Aksi</th> 
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                    </tbody>
                                </table>                                            
                            </div>
                      </div> <!-- end preview-->
                
                      <div class="tab-pane" id="input-tab">
                          <p>Silahkan isikan data Penilaian Peserta.</p>
                          <form action="{% url 'master_penilaian:indikator-penilaian' %}" method="POST" id="formKegiatanPenilaianPetugas" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id_id">
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <h5 class="mb-3">{{ form.nama_indikator.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.nama_indikator.id_for_label}}">
                                        {{form.nama_indikator}}
                                        <label for="{{form.nama_indikator.id_for_label}}">{{ form.nama_indikator.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.nama_indikator.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-lg-6">
                                    <h5 class="mb-3">{{ form.deskripsi_penilaian.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.deskripsi_penilaian.id_for_label}}">
                                        {{form.deskripsi_penilaian}}
                                        <label for="{{form.deskripsi_penilaian.id_for_label}}">{{ form.deskripsi_penilaian.label }}</label>
                                   
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row mt-2">
                                <div class="col-lg">        
                                     <button type="submit" class="btn btn-primary" id="submitformIndikatorPenilaianPetugas">Kirim Data</button>
                                     <button type="button" class="btn btn-danger" id="ResetformIndikatorPenilaianPetugas">Reset</button>
                                </div>
                            </div>
                        
                        </form>
                      </div> <!-- end preview code-->
                </div> <!-- end tab-content-->
  
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
  <!-- end row-->



{% endblock table-content %}

{% block tables-script-extend %}
<script src="{% static 'pages/js/indikator_penilaian.js' %}"></script>
<script>
    let table = generate_indikator_penilaian("{% url 'master_penilaian:indikator-penilaian-json' %}", "{{csrf_token}}")
    let resetForm = () => resetFormIndikatorPenilaian("{% url 'master_penilaian:index' %}") 
    let editIndikator = (e) => edit_indikator("{% url 'master_penilaian:detail-indikator' %}", "{{csrf_token}}", "{% url 'master_penilaian:update-indikator' %}", e)

    let deleteIndikator = (e) => delete_general_request("Apakah anda yakin ingin menghapus indikator penilaian mitra?", "{% url 'master_penilaian:delete-indikator' %}", '{{csrf_token}}', e, table)

    $('#formKegiatanPenilaianPetugas').on('submit', (e) => {
        e.preventDefault()
        check_submit('{{csrf_token}}')
    })
</script>

{% endblock tables-script-extend %}