{% extends 'base/detached-layout/datables.html' %}

{% load static %}
{% load widget_tweaks %}

{% block nav_content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Penilaian</a></li>
                    <li class="breadcrumb-item active">Kegiatan Penilaian</li>
                </ol>
            </div>
            <h4 class="page-title">{{title}}</h4>
        </div>
    </div>  
</div>     

{% endblock nav_content %}

{% block table-content %}

<div class="row">
    <div class="col-12">
        <div class="alert alert-danger d-none" id="msgs-upload" role="alert">   
           
            <div id="messages-content">
             
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Kegiatan Penilaian</h4>
                <p class="text-muted font-14">
                    Kegiatan penilaian berisi informasi penilaian untuk menilai kinerja mitra dari kegiatan survei yang telah dilaksanakan di BPS Kabupaten Muna.
                </p>
  
                <ul class="nav nav-tabs nav-bordered mb-3">
                      <li class="nav-item">
                          <a href="#kegiatan-penilaian-preview" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                              Data Kegiatan Penilaian
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="#input-tab" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                              Input
                          </a>
                      </li>
                </ul> <!-- end nav-->
                <div class="tab-content">
                      <div class="tab-pane show active" id="kegiatan-penilaian-preview">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <a href="#offcanvasFilter"  data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasFilter" class="btn btn-primary mb-2"><i class="mdi mdi-filter-menu me-2"></i> Filter Data</a>
                                <button type="button" class="btn btn-primary mb-2 me-1" id="redraw-table"><i class="mdi mdi-refresh"></i> Refresh</button>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle mb-2 me-1" data-bs-toggle="dropdown"><i class="mdi mdi-file-move"></i> Tambah <span class="caret"></span> </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'master_survei:index' %}#input-tab">Survei Baru</a>
                                        </div>
                                    </div>
                                   <a href="{% url 'master_penilaian:export-kegiatan' %}" class="btn btn-primary mb-2"><i class="mdi mdi-download"></i> Export</a>
                                </div>
                            </div><!-- end col-->
                        </div>
                        
                        <div class="table-responsive">
                            <table id="basic-datatable" class="table table-centered table-striped w-100 dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th width="5%">No</th>
                                        <th>Kegiatan Survei</th>
                                        <th>Tgl Penilaian</th>
                                        <th>Role Petugas</th>
                                        <th>Role Penilai</th>
                                        <th>Status</th>
                                        <th>Aksi</th> 
                                    </tr>
                                </thead>
        
                                <tbody>

                                </tbody>
                            </table>                                            
                        </div>
                      </div> <!-- end preview-->
                
                      <div class="tab-pane" id="input-tab">
                          <p>Silahkan isikan data Penilaian Mitra.</p>
                          <form action="{% url 'master_penilaian:index' %}" method="POST" id="formKegiatanPenilaianPetugas" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id_id">
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <h5 class="mb-3">{{ form.kegiatan_survey.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.kegiatan_survey.id_for_label}}">
                                        <select name="kegiatan_survey" class="form-select" required="" placeholder="..." id="id_kegiatan_survey">
                                            <option value="" selected="">---------</option>
                                            {% for dt in data_subkegiatan %}
                                            <option value="{{dt.pk}}">{{forloop.counter}}. {{dt.nama_kegiatan}} ({{dt.survey.nama}})</option>
                                            {% endfor %}
                                          </select>
                                        <label for="{{form.kegiatan_survey.id_for_label}}">{{ form.kegiatan_survey.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.kegiatan_survey.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <h5 class="mb-3">{{ form.tgl_penilaian.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.tgl_penilaian.id_for_label}}">
                                        {{form.tgl_penilaian}}
                                        <label for="{{form.tgl_penilaian.id_for_label}}">{{ form.tgl_penilaian.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.tgl_penilaian.id_for_label}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <h5 class="mb-3">{{ form.status.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.status.id_for_label}}">
                                        {{form.status}}
                                        <label for="{{form.status.id_for_label}}">{{ form.status.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.status.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-4">
                                    <h5 class="mt-3">{{ form.role_permitted.label }}</h5>
                                    <p class="text-muted">Pilih role/jabatan mitra yang akan dinilai.</p>
                                    <div class="form-floating errors" id="form_{{form.role_permitted.id_for_label}}">
                                        {{form.role_permitted}}
                                        <label for="{{form.role_permitted.id_for_label}}">{{ form.role_permitted.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.role_permitted.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h5 class="mt-3">{{ form.role_penilai_permitted.label }}</h5>
                                    <p class="text-muted">Pilih role/jabatan (organik) penilai.</p>
                                    <div class="form-floating errors" id="form_{{form.role_penilai_permitted.id_for_label}}">
                                        {{form.role_penilai_permitted}}
                                        <label for="{{form.role_penilai_permitted.id_for_label}}">{{ form.role_penilai_permitted.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.role_penilai_permitted.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    
                                </div>
                            </div>
                            <br>
                            <div class="row mt-2">
                                <div class="col-lg">        
                                     <button type="submit" class="btn btn-primary" id="submitformKegiatanPenilaianPetugas">Kirim Data</button>
                                     <button type="button" class="btn btn-danger" id="ResetformKegiatanPenilaianPetugas">Reset</button>
                                </div>
                            </div>
                        
                        </form>
                      </div> <!-- end preview code-->
                </div> <!-- end tab-content-->
  
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
  </div>
  <!-- end row-->
  

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFilterLabel">Filter Kegiatan Penilaian</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h5>Filter by Survei</h5>
        <div class="row">
            <div class="col-11">
                <div class="d-flex align-items-center">
                     <select class="form-select" id="survei-select-filter">
                        <option selected="" value="">Filter By Survei</option>
                        {% for dt in data_survei %}
                        <option value="{{dt.id}}">{{dt.nama}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <h5 class="mt-3">Filter by Status</h5>
        <div class="row">
            <div class="col-11">
                <div class="d-flex align-items-center">
                     <select class="form-select" id="status-select-filter">
                        <option selected="" value="">Filter By Status</option>
                        {% for value, text in form.status.field.choices %}
                            <option value="{{ value }}">{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <h5 class="mt-3">Filter by Role Permitted</h5>
        <div class="row">
            <div class="col-11">
                <div class="d-flex align-items-center">
                    <select class="form-select" id="role-select-filter">
                        <option selected="" value="">Filter By Role Permitted</option>
                        {% for dt in roles %}
                            <option value="{{ dt.id }}">{{ dt.jabatan }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
        </div>
        <button class="btn btn-danger mt-3" id="reset-filter">Clear Filter</button>
    </div>
</div>


{% endblock table-content %}

{% block tables-script-extend %}
<script src="{% static 'pages/js/kegiatan_penilaian.js' %}"></script>
<script>

    'use strict'
    let table = generate_kegiatan_penilaian("{% url 'master_penilaian:datatable-json' %}", '{{csrf_token}}')

    let resetForm = () => resetFormKegiatanPenilain("{% url 'master_penilaian:index' %}")
    let editKegiatanPenilaian = (e) => edit_kegiatan_penilaian_request("{% url 'master_penilaian:detail-kegiatan' %}", "{{csrf_token}}", "{% url 'master_penilaian:update-kegiatan' %}", e) 

    let hapusKegiatanPenilaian = (e) => delete_general_request("Apakah anda yakin ingin menghapus kegiatan penilaian?", "{% url 'master_penilaian:delete-kegiatan' %}", '{{csrf_token}}', e, table)

    $('#formKegiatanPenilaianPetugas').on('submit', (e) => {
        e.preventDefault()
        check_submit_kegiatan_penilaian("{{csrf_token}}")
    })
</script>

{% endblock tables-script-extend %}