{% extends 'base/detached-layout/datables.html' %}

{% load static %}

{% block nav_content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'master_honor:index' %}">Manajemen Honor</a></li>
                    <li class="breadcrumb-item active">Pengaturan Honor</li>
                </ol>
            </div>
            <h4 class="page-title">{{title}}</h4>
        </div>
    </div>  
</div>     

{% endblock nav_content %}

{% block table-content %}

<div class="row">
    <div class="col-12">
        <div class="alert alert-danger d-none" id="msgs-upload" role="alert">   
           
            <div id="messages-content">
             
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="header-title">Pengaturan Honor Mitra</h4>
              <p class="text-muted font-14">
                  Master pengaturan honor mitra berisi informasi batasan honor yang diterima oleh mitra BPS Kabuapten Muna dalam kurun waktu satu bulan.
              </p>

              <ul class="nav nav-tabs nav-bordered mb-3">
                    <li class="nav-item">
                        <a href="#batasan-honor-preview" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                            Batasan Honor Mitra/Bulan
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#input-batasan-honor" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                            Input Batasan Honor
                        </a>
                    </li>
              </ul> <!-- end nav-->
              <div class="tab-content">
                    <div class="tab-pane show active" id="batasan-honor-preview">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <a href="#offcanvasFilter"  data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasFilter" class="btn btn-danger mb-2"><i class="mdi mdi-filter-menu me-2"></i> Filter Data</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end">
                                    <button type="button" class="btn btn-success mb-2 me-1" id="redraw-table"><i class="mdi mdi-refresh"></i></button>
                                     <a href="{% url 'master_survei:export-survey' %}" class="btn btn-light mb-2">Export</a>
                                </div>
                            </div><!-- end col-->
                        </div>
                        <div class="table-responsive">
                            <table id="basic-datatable" class="table table-centered table-striped w-100 dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th>Nama</th>
                                        <th>Tanggal Ref. Awal</th>
                                        <th>Tanggal Ref. Akhir</th>
                                        <th>Batasan Honor (Honor Maksimal)</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            
                                <tbody>
    
                                </tbody>
                            </table>                                            
                        </div>
                    </div> <!-- end preview-->

                    <div class="tab-pane show" id="input-batasan-honor">
                        <p>Silahkan isikan data batasan honor yang diterima mitra dalam satu bulan.</p>
                        <form action="{% url 'master_honor:honor-settings' %}" method="POST" id="formMasterHonor" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id_id">
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <h5 class="mb-3">{{ form.nama.label }} & {{ form.honor_maks.label }}</h5>
                                    <div class="form-floating errors" id="form_{{form.nama.id_for_label}}">
                                        {{form.nama}}
                                        <label for="{{form.nama.id_for_label}}">{{ form.nama.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.nama.id_for_label}}">
                                        </div>
                                    </div>
      
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="mb-3 mt-4">{{ form.honor_maks.label }}</h5>
                                            <div class="form-floating errors" id="form_{{form.honor_maks.id_for_label}}">
                                                {{form.honor_maks}}
                                                <label for="{{form.honor_maks.id_for_label}}">{{ form.honor_maks.label }}</label>
                                                <div class="invalid-feedback" id="msg-{{form.honor_maks.id_for_label}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="mb-3 mt-4">{{ form.status.label }}</h5>
                                    
                                            <div class="form-floating errors" id="form_{{form.status.id_for_label}}">
                                                {{form.status}}
                                                <label for="{{form.status.id_for_label}}">{{ form.status.label }}</label>
                                                <div class="invalid-feedback" id="msg-{{form.status.id_for_label}}">
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                    
                                </div>
                            
                                <div class="col-lg-6">
                                    <h5 class="mb-3">{{ form.tgl_ref_awal.label }} dan {{ form.tgl_ref_akhir.label }}</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-floating errors" id="form_{{form.tgl_ref_awal.id_for_label}}">
                                                {{form.tgl_ref_awal}}
                                                <label for="{{form.tgl_ref_awal.id_for_label}}">{{ form.tgl_ref_awal.label }}</label>
                                                <div class="invalid-feedback" id="msg-{{form.tgl_ref_awal.id_for_label}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating errors" id="form_{{form.tgl_ref_akhir.id_for_label}}">
                                                {{form.tgl_ref_akhir}}
                                                <label for="{{form.tgl_ref_akhir.id_for_label}}">{{ form.tgl_ref_akhir.label }}</label>
                                                <div class="invalid-feedback" id="msg-{{form.tgl_ref_akhir.id_for_label}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <div class="row mt-2">
                                <div class="col-lg">        
                                     <button type="submit" class="btn btn-primary" id="submitFormSalary">Kirim Data</button>
                                     <button type="button" class="btn btn-danger" id="ResetFormHonor">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- end preview-->
              </div> <!-- end tab-content-->

          </div> <!-- end card body-->
      </div> <!-- end card -->
  </div><!-- end col-->
</div>
<!-- end row-->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFilterLabel">Filter Data</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <h5>Filter by Status</h5>
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex align-items-center">
                     <select class="form-select" id="status-select-filter">
                        <option value="">----</option>
                       {% for value, text in form.status.field.choices %}
                            <option value="{{ value }}">{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <button class="btn btn-danger mt-3" id="reset-filter">Clear Filter</button>
    </div>
</div>


{% endblock table-content %}

{% block tables-script-extend %}

<script>
    'use strict'

    var swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-primary'},
        buttonsStyling: true
    })

    var table = $("#basic-datatable").DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            "url": "{% url 'master_honor:json-response' %}",
            "headers": {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            "type": "POST",
            "data": function (d){
                return $.extend({}, d, {
                    "status_filter": $('#status-select-filter').val(),
                })
            },
        },
        columns :[
            {"data": 'nama'},
            {"data" : 'tgl_ref_awal'},
            {"data" : 'tgl_ref_akhir'},
            {"data" : 'honor_maks'},
            {"data": 'status'},
            {"data" : 'aksi'},
        ],
        lengthMenu: [5, 25, 50, 100,'All'],
        columnDefs: [ {
            'targets': [5], /* column index */
            'orderable': false, /* true or false */
        }],
        keys: !0,
        language: {
            paginate: {
            previous: "<i class='mdi mdi-chevron-left'>",
            next: "<i class='mdi mdi-chevron-right'>",
            },
        },
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
        },
    });

    
    $('#status-select-filter').bind("keyup change", function (){
        table.draw()
    })

    
    $('#reset-filter').on('click', function (){
        $('#status-select-filter').prop('selectedIndex',0);
        table.draw();
    })

    $("#formMasterHonor").on("submit", function (e){
        e.preventDefault()

        var serializedData = $(this).serialize();
        $('.invalid-feedback').html('')
        $('.is_invalid').removeClass('is_invalid')
        
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: serializedData,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: function (response) {
                $('#messages-content').html(response["message"])
                $('#msgs-upload').removeClass('alert-danger')
                $('#msgs-upload').addClass('alert-success')
                $('#msgs-upload').removeClass('d-none')
                table.ajax.reload();
                $('.nav-tabs a[href="#batasan-honor-preview"]').tab('show');
            },
            error: function (response) {
                var errors = response["responseJSON"]["error"]
                for (const [key, value] of Object.entries(errors)) {
                    var msgs = '<ul>'
                    value.forEach(function (item, index) {
                    
                        msgs += '<li>'+item+'</li>'
                        });
                    
                    msgs += '</ul>'
                    console.log(key)
                    $('#id_'+ key).addClass('is-invalid');
                    $('#msg-id_'+key).html(msgs)
                }    
            }
        })

    })

    function editConstSalary(e){
        $('#formMasterHonor').attr('action', '{% url "master_honor:update-const" %}')
        $('#submitFormSalary').html('Update Data')
        $.ajax({
            url: '{% url 'master_honor:get-const-salary' %}',
            type: "POST",
            dataType: "json",
            data : {
                'id' : e
            },
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (data) => {
              
                for (const [key, value] of Object.entries(data.instance)) {
                    $('#id_'+key).val(value)
                    console.log(key)
                }
                $('.nav-tabs a[href="#input-batasan-honor"]').tab('show');
            },
            error: (error) => {
                console.log(error);
            }
        });
        
    }

    function deleteConstSalary(e){

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Apakah anda yakin ingin menghapus data?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: false
          }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: '{% url 'master_honor:delete-const' %}',
                    type: "POST",
                    dataType: "json",
                    data : {
                        'id' : e
                    },
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": '{{csrf_token}}',
                    },
                    success: (data) => {
                        if (data.status == 'success'){
                            Swal.fire(
                                'Deleted!',
                                data.message,
                                'success'
                                )
                            table.ajax.reload();
                        }else{
                            Swal.fire(
                                'Terjadi Kesalahan!',
                                 data.message,
                                'info'
                            )
                        }
                    },
                    error: (error) => {
                        console.log(error);
                    }
                });
            }
        }) 

    }

    function resetForm(){
        $('#formMasterHonor')[0].reset();
        $('.was-validated').removeClass('was-validated')
        $('#submitFormPetugas').html('Kirim Data')
        $('#formMasterHonor').attr('action', "{% url 'master_honor:honor-settings' %}")
    }
    
    $('#ResetFormHonor').on('click', function(){
        resetForm()
    })
</script>

{% endblock tables-script-extend %}