{% extends 'base/detached-layout/datables.html' %}

{% load static %}


{% block nav_content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Pegawai</a></li>
                    <li class="breadcrumb-item active">Master Pegawai</li>
                </ol>
            </div>
            <h4 class="page-title">{{title}}</h4>
        </div>
    </div>  
</div>     

{% endblock nav_content %}

{% block table-content %}

<div class="row">
    <div class="col-12">
        <div class="alert alert-danger d-none" id="msgs-feedback" role="alert">   
            <div id="messages-content">
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="header-title">Master Pegawai</h4>
              <p class="text-muted font-14">
                Master Pegawai berisi informasi data pegawai organik di BPS Kabupaten Muna. 
              </p>

              <ul class="nav nav-tabs nav-bordered mb-3">
                <li class="nav-item">
                    <a href="#pegawai-preview" data-bs-toggle="tab" aria-expanded="false" class="nav-link active" onclick="resetForm()">
                        Data Pegawai
                    </a>
                </li>
                
                {% if user.is_staff or 'Administrator' in user.groups.all or user.is_superuser %}
                <li class="nav-item">
                    <a href="#input-tab" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                        Input
                    </a>
                </li>
                {% endif %}

              </ul> <!-- end nav-->
              <div class="tab-content">
                    <div class="tab-pane show active" id="pegawai-preview">
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <a href="#offcanvasFilter"  data-bs-toggle="offcanvas" role="button" class="btn btn-primary mb-2"><i class="mdi mdi-filter-menu"></i> Filter Data</a>
                                <button type="button" class="btn btn-primary mb-2 me-1" id="redraw-table"><i class="mdi mdi-refresh"></i> Refresh</button>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end">
                                    {% if user.is_staff or 'Administrator' in user.groups.all or user.is_superuser %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle mb-2 me-1" data-bs-toggle="dropdown"><i class="mdi mdi-account-switch"></i> Akses <span class="caret"></span> </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'master_pegawai:jabatan' %}">Jabatan</a>
                                            <a class="dropdown-item" href="{% url 'master_pegawai:pangkat' %}">Pangkat/Golongan</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <a href="{% url 'master_petugas:mitra-export' %}" class="btn btn-primary mb-2"><i class="mdi mdi-download"></i> Export</a>
                                
                                </div>
                            </div><!-- end col-->
                        </div>
                        <div class="table-responsive">
                            <table id="basic-datatable" class="table table-centered w-100 dt-responsive nowrap table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">No</th>
                                        <th>NIP</th>
                                        <th>NIP BPS</th>
                                        <th>Nama</th>
                                        <th>Pangkat/Golongan</th>
                                        <th>Jabatan</th>
                                        <th>User Account</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                        
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end preview-->
                    {% if user.is_staff or 'Administrator' in user.groups.all or user.is_superuser %}
                    <div class="tab-pane" id="input-tab"> 
                        <form action="{% url 'master_pegawai:index' %}" method="POST" id="formMasterPegawai" class="px-2" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="id" id="id_id">
                            <h5>Isikan Data Pegawai</h5>
                            <div class="row my-3">
                                <p class="mb-2">Nama Pegawai & NIP</p>
                                <div class="col-lg-4">
                                    <div class="form-floating errors" id="form_{{form.name.id_for_label}}">
                                        {{form.name}}
                                        <label for="{{form.name.id_for_label}}">{{ form.name.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.name.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-floating errors" id="form_{{form.nip.id_for_label}}">
                                        {{form.nip}}
                                        <label for="{{form.nip.id_for_label}}">{{ form.nip.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.nip.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-floating errors" id="form_{{form.nip_bps.id_for_label}}">
                                        {{form.nip_bps}}
                                        <label for="{{form.nip_bps.id_for_label}}">{{ form.nip_bps.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.nip_bps.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <p class="mb-2">Jabatan & Pangkat</p>
                                <div class="col-lg-4">
                                    <div class="form-floating errors" id="form_{{form.jabatan.id_for_label}}">
                                        {{form.jabatan}}
                                        <label for="{{form.jabatan.id_for_label}}">{{ form.jabatan.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.jabatan.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-floating errors" id="form_{{form.pangkat.id_for_label}}">
                                        {{form.pangkat}}
                                        <label for="{{form.pangkat.id_for_label}}">{{ form.pangkat.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.pangkat.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-floating errors" id="form_{{form.pendidikan.id_for_label}}">
                                        {{form.pendidikan}}
                                        <label for="{{form.pendidikan.id_for_label}}">{{ form.pendidikan.label }}</label>
                                        <div class="invalid-feedback" id="msg-{{form.pendidikan.id_for_label}}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4 mb-2">
                                <div class="col-md">
                                     <button type="submit" class="btn btn-primary" id="submitFormPegawai" onclick="checkSubmit()">Kirim Data</button>
                                     <button type="button" class="btn btn-danger" id="reset-form" onclick="resetForm()">Reset Form</button>
                                </div>
                            </div>
                        </form>
       
                    </div>
                    {% endif %}
                </div> <!-- end tab-content-->

          </div> <!-- end card body-->
      </div> <!-- end card -->
  </div><!-- end col-->
</div>
<!-- end row-->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFilterLabel">Filter Pegawai</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h5>Jabatan/Pangkat</h5>
        <div class="row mb-1 mt-3">
            <div class="col-sm-3">
                Jabatan:
            </div>
            <div class="col-8">
                <div class="d-flex align-items-center">
                     <select class="form-select font-13" id="jabatan-filter">
                        <option value="">-- Pilih Jabatan --</option>
                       {% for dt in jabatan %}
                            <option value="{{ dt.id }}">{{forloop.counter}}. {{ dt.jabatan }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm-3">
                Pangkat/Gol.
            </div>
            <div class="col-8">
                <div class="d-flex align-items-center">
                     <select class="form-select font-13" id="pangkat-filter">
                        <option value="">-- Pilih Pangkat/Gol --</option>
                       {% for dt in pangkat %}
                            <option value="{{ dt.id }}">{{forloop.counter}}. {{ dt.pangkat }}/{{ dt.golongan }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <button class="btn btn-primary mt-3" id="reset-filter">Clear Filter</button>
    </div>
</div>

{% endblock table-content %}

{% block tables-script-extend %}
<script src="{% static 'pages/js/master_pegawai.js' %}"></script>
<script>
    'use strict'

    var table = generate_master_pegawai("{% url 'master_pegawai:datatable-json' %}", '{{csrf_token}}')

    {% if user.is_staff or 'Administrator' in user.groups.all or user.is_superuser %}
        let editPegawai = (e) => {
            edit_pegawai_request("{% url 'master_pegawai:detail' %}", '{{csrf_token}}', "{% url 'master_pegawai:update' %}", e)
        }
        
        let hapusPegawai = (e) => {
            delete_general_request("Apakah anda yakin ingin menghapus data pegawai ?", "{% url 'master_pegawai:delete' %}", '{{csrf_token}}', e, table)
        }

        let resetForm = () => {
            resetFormPegawai("{% url 'master_pegawai:index' %}")
        }
        
        let checkSubmit = () => {
            checkSubmitPegawai('{{csrf_token}}')
        }
    {% endif %}
</script>

{% endblock tables-script-extend %}